/**
 * Admin Control Panel Stylesheets
 * 
 * @version 1.0.0
 * @since 1.0.0
 */

.chzn-container{margin-top:-4px!important;}
.ui-dialog-titlebar{background:none repeat scroll 0 0 #21759B!important;color:white!important;}
.ui-dialog-content{font-size:12px!important;}
div.instructor-list ul{padding:20px;list-style-image:url('../images/listimage.jpg');}
div.instructor-list li span{margin-left:3px;margin-right:3px;}
div.instructor-list li span.delbtn{background:url("../images/delitem.jpg") no-repeat scroll 0 0 transparent;display: inline-block;height: 14px;width: 16px;}
div.instructor-list li{color:#333;opacity:0.5;text-decoration:line-through;}
div.instructor-list li.active{opacity:1.0;text-decoration:none;}
div.instructor-list li:hover{cursor:pointer;}
.editHover{background-color:#E8F3FF;}
li.noPad{padding:0;width:360px;}
form{display:inline-block;}
.btnSave, .btnDiscard{padding:6px 0 4px 4px;}
.progress-label{float:left;text-shadow:1px 1px 0 #fff;}
