.ajaxprogress{background:url('../ajax-loader.gif');width:220px;height:20px;}
.btn-mini{border-radius: 3px 3px 3px 3px;font-size:9px;padding: 0 3px;}
.status{margin-left:4px;}
table#ubccsections{font-size:10px !important;border-spacing:10px 0px !important;border-collapse:separate;}
#instrstr span{font-weight:normal;font-size:smaller;margin-right:3px;}
#instrstr{display:inline-block;margin-bottom:4px;color:#2f5d7c;}
p.pdesc{margin-bottom:1px;}
.editHover{background-color:#E8F3FF;}
/*li.noPad{padding:0;width:360px;}
form{display:inline-block;}*/
.btnSave, .btnDiscard{padding:6px 0 4px 4px;}
.progress-label{float:left;text-shadow:1px 1px 0 #fff;}

.coursesacc {margin-bottom:5px;}
.coursesacc .accordion-group{border:none;}
.coursesacc .accordion-heading a:focus{outline:none;}
.coursesacc .accordion-heading a:hover, #acc .accordion-heading a:active{color:#002145;font-weight:bold;background:none;}
.coursesacc .accordion-toggle{padding: 8px 0;}
.coursesacc .accordion-group .collapse.in{background-color:#EFEFEF;border:1px dotted #333333;padding:10px 10px 15px;}
.coursesacc .accordion-toggle.collapsed:after {
    content: " \f055";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.coursesacc .accordion-toggle:after {
    content: " \f056";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
